body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3 {
    color: orange;
    font-style: italic;
    font-weight: normal;
}

p.center {
    text-align: center;
}

p.justify {
    text-align: justify;
}

img {
    border: 8px solid black;
    outline: 10px solid yellow;
    margin: 10px;
}

a {
    color: black;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}